services:
  backend:
    build: ./backend
    container_name: backend-python
    networks:
      - app-network
    expose:
      - "8080"
    restart: unless-stopped

  nginx:
    image: nginx
    container_name: nginx-reverse-proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge
